@charset "UTF-8";

@import "font";
@import "variable";

body { background: $background_color; }
$text_height: 6.0rem;
$text_line-height: 1.8;
/* 해더 시작  1920px container 1170px */
 header { width: 100%; max-width: 1270px; margin: 0 auto;
   display: flex; justify-content: space-between; padding: 2.0rem 5.0rem; box-sizing: border-box;
   .logo { font-size: 2.1rem; color: $text_color_block ;
     em {  font-family: "Axiforma-Bold", sans-serif; }
   }
   .nav_menu {
     ul { display: flex;
       li:last-child {  margin-left: 2.0rem; }
       a { display: block; height:$text_height; line-height: $text_line-height; }
       a:first-child { background: inherit; border: inherit; }
     }
   }
 }

// 색션 공통 텍스트 스타일
.title { font-size: 3.8rem; font-family: 'Axiforma-ExtraBold', sans-serif; text-align: center;
margin-bottom: 20px; letter-spacing: -0.2rem;  }
.sub_txt { font-size: 1.6rem; line-height: 2.4rem; text-align: center; margin-bottom: 6.0rem;
  color: $text_color_block; }

/*section 시작*/
section { width: 100%; max-width: 1270px; margin: 0 auto; padding: 0 5.0rem; }
.hero_wrap { margin: 16.0rem 0; display: flex; flex-flow: row; justify-content: space-between;
 .hero_info { padding: 4.0rem 0; color: $text_color_block;
  .hero_title { font-size: 6.5rem;  font-family: 'Axiforma-ExtraBold',sans-serif; letter-spacing: -0.25rem; line-height: 1.6;}
   .hero_sub_txt { font-size: 2.1rem; margin-bottom: 4.0rem; line-height: 1.5;
    em { color: $bleu; }
   }
   .text_btn {
     a:first-child { margin-right: 18px; }
   }
 }
  .hero_img { width: 45rem; }
}

.logo_bar{ display: flex; border-top: 1px solid $line_color; border-bottom: 1px solid $line_color; padding: 3.0rem 0;
 justify-content: space-between; background-position: center;
  article { display: inline-block; width: 9rem; height: 3rem;
    background-repeat: no-repeat; background-size: contain; }
  article:nth-child(1) {background-image: url("../images/client_logo_01.png") }
  article:nth-child(2) {background-image: url("../images/client_logo_02.png") }
  article:nth-child(3) {background-image: url("../images/client_logo_03.png") }
  article:nth-child(4) {background-image: url("../images/client_logo_04.png") }
  article:nth-child(5) {background-image: url("../images/client_logo_05.png") }
  article:nth-child(6) {background-image: url("../images/client_logo_06.png") }
}

.feature_wrap { margin: 16.0rem 0;
.card_box { display: flex; flex-flow: row;
  li { background: white; border: 1px solid $line_color; border-radius: 2.0rem; margin-right: 3.0rem;
   padding: 40px 30px; flex: 1; text-align: center;  box-shadow: 3.4rem 2.9rem 4.8rem rgba(51, 102, 255, 0.05);
    i { width: 8.2rem; height: 8.2rem; border-radius: 2.0rem; display: block; margin: 0 auto;  }
    .magic_wand { background: rgba(255,98,80, 0.2)  url("../images/magic_wand.svg") no-repeat 50%;  }
    .bounding_box { background: rgba(0,147,121, 0.2)  url("../images/bounding_box.svg") no-repeat 50%;  }
    .confetti { background: rgba(248, 213, 126, 0.2) url("../images/confetti.svg") no-repeat 50%;  }
    .card_title { font-size: 2.8rem; letter-spacing: -0.1rem; font-family:'Axiforma-Bold', sans-serif;
      margin-top: 3.0rem;  margin-bottom: 2.4rem; color: $text_color_block; }
    .card_sub_txt { font-size: 1.5rem; line-height: 2.4rem; color: $text_color_block;
    margin-bottom: 3.0rem; }
    span { font-family: "Axiforma-SemiBol", sans-serif; color: $green; }
  }
  li:last-child { margin-right: 0; }
}
}

.highlighted_wrap { display: flex; flex-flow: row; justify-content: space-between;
  .highlighted_img {  width: 54rem; }
  .highlighted_info { padding: 6.8rem 0 6.8rem 6.0rem;
    .high_title { font-size: 5.0rem; font-family: 'Axiforma-ExtraBold',sans-serif; letter-spacing: -0.2rem;
     line-height: 6.5rem; margin-bottom: 2.0rem; color: $text_color_block; }
    .high_sub_txt { font-size: 2.1rem; line-height: 3.15rem; margin-bottom: 4.0rem; }
  }
}

.metric_wrap { margin: 16.0rem 0;
 .metric_item { display: flex; flex-flow: row;justify-content: space-between;
  li { background: white; border-top-left-radius: 2.0rem; border-top-right-radius: 2.0rem;
   padding: 4.8rem 1.6rem; border-bottom: 4px solid $pink; text-align: center; color: $text_color_block;
    flex: 1; margin-right: 3.0rem; box-shadow: 34px 29px 48px rgba(51, 102, 255, 0.05);
    .metric_item_title {  font-size: 3.8rem; font-family: 'Axiforma-ExtraBold',sans-serif;
      letter-spacing: -0.2rem; }
  }
   li:last-child { margin-right: 0; }
 }
}

.testimonial_wrap {
  .card_box { display: flex; justify-content: space-between; flex-flow: row;
  li { background: white; border: 1px solid $line_color; border-radius: 2.0rem; padding: 4.0rem 3.0rem;
    margin-right: 3.0rem; flex: 1; text-align: center; display: flex; flex-flow: column;
    box-shadow: 34px 29px 48px rgba(51, 102, 255, 0.05);
    .client_info { margin-bottom: 3.0rem;
      .person_detail_img { width: 5.6rem; height: 5.6rem; margin: 0 auto 1.6rem auto;}
      .person { color: $text_block_10; font-size: 2.1rem;  font-family:'Axiforma-Bold', sans-serif; font-weight: 600; }
      .detail { color: $text_block_30; font-size: 1.4rem; font-family: 'Axiforma-Light', sans-serif; font-weight: 400; }
    }
    .text_info { color: $text_color_block; line-height: 2.4rem; font-size: 1.5rem;  display: flex; flex-flow: column;
      justify-content: space-between; flex: 1;
    .star_img { margin-top: 3.0rem; height: 2.3rem;}
    }
  }
    li:last-child { margin-right: 0;}
  }
}

.pricing_wrap {  margin: 16.0rem 0;
 .card_box { display: flex; justify-content: space-between;
  >li { background: white; border: 1px solid $line_color; padding: 4.0rem 3.0rem; border-radius: 2.0rem;
    color: $text_color_block; flex: 1; margin-right: 3.0rem;
  .pricing_info {
    span { font-size: 2.1rem; line-height: 3.15rem;  margin-bottom: 0.6rem; display: inline-block; }
    .pricing { font-weight: 700; margin-bottom: 0.6rem;
      em { font-size: 5.0rem; font-family: 'Axiforma-ExtraBold',sans-serif; letter-spacing: -0.2rem;
        line-height: 6.5rem; }
    }
    p:last-child { margin-bottom: 2.4rem; }
  }
  .text {
    li { margin-bottom: 1.6rem; font-weight: 700; }
    li:last-of-type { margin-bottom: 3.0rem; }
  }
    .text_btn {
      a { width: 100%; }
    }
  }
  >li:last-child { background: $green; border: 1px solid $green; color: white; margin-right: 0; }
 }
}

.team_wrap {
.card_box { display: flex; justify-content: space-between; flex-flow: row;
 li { margin-right: 30px; flex: 1; background: white; border-radius: 2.0rem;
   box-shadow: 34px 29px 48px rgba(51, 102, 255, 0.05);
   .text { margin: 2.0rem 0; text-align: center;
   .name { color: $text_block_10; font-size: 2.1rem;  font-family:'Axiforma-Bold', sans-serif; font-weight: 600; margin-bottom: 0.6rem;}
   .work { color: $text_block_30; font-size: 1.4rem; font-family: 'Axiforma-Light', sans-serif; font-weight: 400; }
   }
   .social_link { padding: 2.0rem 0 3.0rem 0; border-top: 1px solid $line_color; display: flex; justify-content: center;
     a { width: 3.2rem; height: 3.2rem; display: inline-block; border-radius: 50%; margin-right: 1.6rem; }
     a:nth-child(1) { background :#E5F4F2 url("../images/sns_01.svg")  no-repeat 50%; }
     a:nth-child(2) { background :#E5F4F2 url("../images/sns_02.svg")  no-repeat 50%; }
     a:nth-child(3) { background :#E5F4F2 url("../images/sns_03.svg")  no-repeat 50%; margin-right: 0; }
   }
 }
  li:last-child { margin-right: 0; }
}
}