@charset "UTF-8";

@import "font";
@import "variable";

body { background: $background_color; }
$text_height: 6.0rem;
$text_line-height: 1.8;
/* 해더 시작  1920px container 1170px */
 header { width: 100%; max-width: 1270px; margin: 0 auto;
   display: flex; justify-content: space-between; padding: 2.0rem 5.0rem; box-sizing: border-box;
   .logo { font-size: 2.1rem; color: $text_color_block ;
     em {  font-family: "Axiforma-Bold", sans-serif; }
   }
   .nav_menu {
     ul { display: flex;
       li:last-child {  margin-left: 2.0rem; }
       a { display: block; height:$text_height; line-height: $text_line-height; }
       a:first-child { background: inherit; border: inherit; }
     }
   }
 }

// 색션 공통 텍스트 스타일
.title { font-size: 3.8rem; font-family: 'Axiforma-ExtraBold', sans-serif; text-align: center;
margin-bottom: 20px; letter-spacing: -0.2rem;  }
.sub_txt { font-size: 1.6rem; line-height: 2.4rem; text-align: center; margin-bottom: 6.0rem;
  color: $text_color_block; }

/*section 시작*/
section { width: 100%; max-width: 1270px; margin: 0 auto; padding: 0 5.0rem; }
.hero_wrap { margin: 16.0rem 0; display: flex; flex-flow: row; justify-content: space-between;
 .hero_info { padding: 4.0rem 0; color: $text_color_block;
  .hero_title { font-size: 6.5rem;  font-family: 'Axiforma-ExtraBold',sans-serif; letter-spacing: -0.25rem; line-height: 1.6;}
   .hero_sub_txt { font-size: 2.1rem; margin-bottom: 4.0rem; line-height: 1.5;
    em { color: $bleu; }
   }
   .text_btn {
     a:first-child { margin-right: 18px; }
   }
 }
  .hero_img { width: 45rem; }
}

.logo_bar{ display: flex; border-top: 1px solid $line_color; border-bottom: 1px solid $line_color; padding: 3.0rem 0;
 justify-content: space-between; background-position: center;
  article { display: inline-block; width: 9rem; height: 3rem;
    background-repeat: no-repeat; background-size: contain; }
  article:nth-child(1) {background-image: url("../images/client_logo_01.png") }
  article:nth-child(2) {background-image: url("../images/client_logo_02.png") }
  article:nth-child(3) {background-image: url("../images/client_logo_03.png") }
  article:nth-child(4) {background-image: url("../images/client_logo_04.png") }
  article:nth-child(5) {background-image: url("../images/client_logo_05.png") }
  article:nth-child(6) {background-image: url("../images/client_logo_06.png") }
}

.feature_wrap { margin: 16.0rem 0;
.card_box { display: flex; flex-flow: row;
  li { background: white; border: 1px solid $line_color; border-radius: 2.0rem; margin-right: 3.0rem;
   padding: 40px 30px; flex: 1; text-align: center;  box-shadow: 3.4rem 2.9rem 4.8rem rgba(51, 102, 255, 0.05);
    i { width: 8.2rem; height: 8.2rem; border-radius: 2.0rem; display: block; margin: 0 auto;  }
    .magic_wand { background: rgba(255,98,80, 0.2)  url("../images/magic_wand.svg") no-repeat 50%;  }
    .bounding_box { background: rgba(0,147,121, 0.2)  url("../images/bounding_box.svg") no-repeat 50%;  }
    .confetti { background: rgba(248, 213, 126, 0.2) url("../images/confetti.svg") no-repeat 50%;  }
    .card_title { font-size: 2.8rem; letter-spacing: -0.1rem; font-family:'Axiforma-Bold', sans-serif;
      margin-top: 3.0rem;  margin-bottom: 2.4rem; color: $text_color_block; }
    .card_sub_txt { font-size: 1.5rem; line-height: 2.4rem; color: $text_color_block;
    margin-bottom: 3.0rem; }
    span { font-family: "Axiforma-SemiBol", sans-serif; color: $green; }
  }
  li:last-child { margin-right: 0; }
}
}

.highlighted_wrap { display: flex; flex-flow: row; justify-content: space-between;
  .highlighted_img {  width: 54rem; }
  .highlighted_info { padding: 6.8rem 0 6.8rem 6.0rem;
    .high_title { font-size: 5.0rem; font-family: 'Axiforma-ExtraBold',sans-serif; letter-spacing: -0.2rem;
     line-height: 6.5rem; margin-bottom: 2.0rem; color: $text_color_block; }
    .high_sub_txt { font-size: 2.1rem; line-height: 3.15rem; margin-bottom: 4.0rem; }
  }
}

.metric_wrap { margin: 16.0rem 0;
 .metric_item { display: flex; flex-flow: row;justify-content: space-between;
  li { background: white; border-top-left-radius: 2.0rem; border-top-right-radius: 2.0rem;
   padding: 4.8rem 1.6rem; border-bottom: 4px solid $pink; text-align: center; color: $text_color_block;
    flex: 1; margin-right: 3.0rem; box-shadow: 34px 29px 48px rgba(51, 102, 255, 0.05);
    .metric_item_title {  font-size: 3.8rem; font-family: 'Axiforma-ExtraBold',sans-serif;
      letter-spacing: -0.2rem; }
  }
   li:last-child { margin-right: 0; }
 }
}

.testimonial_wrap {
  .card_box { display: flex; justify-content: space-between; flex-flow: row;
  li { background: white; border: 1px solid $line_color; border-radius: 2.0rem; padding: 4.0rem 3.0rem;
    margin-right: 3.0rem; flex: 1; text-align: center; display: flex; flex-flow: column;
    box-shadow: 34px 29px 48px rgba(51, 102, 255, 0.05);
    .client_info { margin-bottom: 3.0rem;
      .person_detail_img { width: 5.6rem; height: 5.6rem; margin: 0 auto 1.6rem auto;}
      .person { color: $text_block_10; font-size: 2.1rem;  font-family:'Axiforma-Bold', sans-serif; font-weight: 600; }
      .detail { color: $text_block_30; font-size: 1.4rem; font-family: 'Axiforma-Light', sans-serif; font-weight: 400; }
    }
    .text_info { color: $text_color_block; line-height: 2.4rem; font-size: 1.5rem;  display: flex; flex-flow: column;
      justify-content: space-between; flex: 1;
    .star_img { margin-top: 3.0rem; height: 2.3rem;}
    }
  }
    li:last-child { margin-right: 0;}
  }
}

.pricing_wrap {  margin: 16.0rem 0;
 .card_box { display: flex; justify-content: space-between;
  >li { background: white; border: 1px solid $line_color; padding: 4.0rem 3.0rem; border-radius: 2.0rem;
    color: $text_color_block; flex: 1; margin-right: 3.0rem;
  .pricing_info {
    span { font-size: 2.1rem; line-height: 3.15rem;  margin-bottom: 0.6rem; display: inline-block; }
    .pricing { font-weight: 700; margin-bottom: 0.6rem;
      em { font-size: 5.0rem; font-family: 'Axiforma-ExtraBold',sans-serif; letter-spacing: -0.2rem;
        line-height: 6.5rem; }
    }
    p:last-child { margin-bottom: 2.4rem; }
  }
  .text {
    li { margin-bottom: 1.6rem; font-weight: 700; }
    li:last-of-type { margin-bottom: 3.0rem; }
  }
    .text_btn {
      a { width: 100%; }
    }
  }
  >li:last-child { background: $green; border: 1px solid $green; color: white; margin-right: 0; }
 }
}

.team_wrap {
.card_box { display: flex; justify-content: space-between; flex-flow: row;
 li { margin-right: 30px; flex: 1; background: white; border-radius: 2.0rem;
   box-shadow: 34px 29px 48px rgba(51, 102, 255, 0.05);
   .text { margin: 2.0rem 0; text-align: center;
   .name { color: $text_block_10; font-size: 2.1rem;  font-family:'Axiforma-Bold', sans-serif; font-weight: 600; margin-bottom: 0.6rem;}
   .work { color: $text_block_30; font-size: 1.4rem; font-family: 'Axiforma-Light', sans-serif; font-weight: 400; }
   }
   .social_link { padding: 2.0rem 0 3.0rem 0; border-top: 1px solid $line_color; display: flex; justify-content: center;
     a { width: 3.2rem; height: 3.2rem; display: inline-block; border-radius: 50%; margin-right: 1.6rem; }
     a:nth-child(1) { background :#E5F4F2 url("../images/sns_01.svg")  no-repeat 50%; }
     a:nth-child(2) { background :#E5F4F2 url("../images/sns_02.svg")  no-repeat 50%; }
     a:nth-child(3) { background :#E5F4F2 url("../images/sns_03.svg")  no-repeat 50%; margin-right: 0; }
   }
 }
  li:last-child { margin-right: 0; }
}
}
.content_wrap { display: flex; flex-flow: row; justify-content: space-between; margin: 16.0rem 0; background: $pink; border-radius: 2.0rem;
.content_info { padding: 6.8rem 0 6.8rem 6.0rem; height: 4.3rem;
  .content_title { font-size: 5.0rem; font-family: 'Axiforma-ExtraBold',sans-serif; letter-spacing: -0.2rem;
    line-height: 6.5rem; margin-bottom: 2.0rem; color: $text_color_block; }
  .content_sub_txt { font-size: 2.1rem; line-height: 3.15rem; margin-bottom: 4.0rem; }
}
.content_img_box {
  width: 58rem; height: 43rem; overflow: hidden; position: relative;
  img {
    position: absolute;width: 100%; top: 50%; left: 50%;
    transform: translate(-50%, -50%);height: 100%;
  }
.content_img_m { display: none; }
}
}

.contact_form_wrap { margin-bottom: 16rem; display: flex; background: white; border: 1px solid $line_color;
  border-radius: 2.0rem; padding: 6.0rem;
  .contact_info { color: $text_color_block; margin-right: 6.0rem; flex: 1;
  .contact_title { font-size: 3.8rem; font-family: 'Axiforma-ExtraBold',sans-serif; letter-spacing: -0.2rem;
  margin-bottom: 1.0rem; }
  .contact_details { margin: 4.0rem 0 10.6rem 0;
    .phone { position: relative; padding-left: 35px; margin-bottom: 2.0rem;
      &:before { content: ""; background: url("../images/phone.svg") no-repeat 50%; width: 24px; height: 24px;
      display: inline-block; position: absolute; left: 0; top: 50%; transform: translateY(-50%);
      }
    }
    .email { position: relative; padding-left: 35px;
      &:before { content: ""; background: url("../images/envelope_simple.svg") no-repeat 50%; width: 24px; height: 24px;
        display: inline-block; position: absolute; left: 0; top: 50%; transform: translateY(-50%);
      }
    }
  }
    .social_media {
      span { font-size: 2.1rem; font-weight: 600;  font-family:'Axiforma-Bold',sans-serif; display: inline-block; margin-bottom: 2.0rem;}
      .social_links { display: flex;
        a {  width: 3.2rem; height: 3.2rem; display: inline-block; border-radius: 50%; margin-right: 1.6rem;}
        a:nth-child(1) { background :#E5F4F2 url("../images/sns_01.svg")  no-repeat 50%; }
        a:nth-child(2) { background :#E5F4F2 url("../images/sns_02.svg")  no-repeat 50%; }
        a:nth-child(3) { background :#E5F4F2 url("../images/sns_04.svg")  no-repeat 50%; }
        a:nth-child(4) { background :#E5F4F2 url("../images/sns_03.svg")  no-repeat 50%; margin-right: 0; }
      }
    }
  }
  .contact_form { flex: 1;
   li { position: relative;
     i { border-right: 1px solid #DBE3FF; padding-right: 3rem; width: 2.0rem; height:2.0rem; display: inline-block; }
     .user { background: url("../images/user.svg") no-repeat 50%; position: absolute; left: 0; top: calc(50% - 6px); transform: translateY(-50%); }
     .email { background: url("../images/envelope_simple.svg") no-repeat 50%; position: absolute; left: 0; top: calc(50% - 6px); transform: translateY(-50%); }
     *::placeholder{ color: $text_color_block; font-size: 1.6rem; font-weight: 400; font-family: "Axiforma Book", sans-serif;}
     input, textarea { border: 1px solid $line_color; border-radius: 2.0rem;  width: 100%; }
     input { margin-bottom: 1.0rem; height: 6.0rem; padding: 0.8rem 2.0rem 0.8rem 6.5rem; }
     textarea {resize: none; height: 18.0rem; padding: 0.8rem 2.0rem; }
   }
    button { padding: 1.6rem 5.0rem; background: $green; color: white; font-family: "Axiforma-SemiBol", sans-serif;
    border-radius: 2.0rem; margin-top: 2.0rem;
    }
  }
}

.footer_wrap { background: $text_color_block; color: white; padding: 2.4rem 6.0rem;
  display: flex; justify-content: space-between;
   p { font-size: 1.4rem; font-family: 'Axiforma-Light', sans-serif; font-weight: 400;}
  .social_links { display: flex;
    a {  width: 3.2rem; height: 3.2rem; display: inline-block; border-radius: 50%; margin-right: 1.6rem;}
    a:nth-child(1) { background :#4E4D4D url("../images/sns_white_01.svg")  no-repeat 50%; }
    a:nth-child(2) { background :#4E4D4D url("../images/sns_white_02.svg")  no-repeat 50%; }
    a:nth-child(3) { background :#4E4D4D url("../images/sns_white_03.svg")  no-repeat 50%; }
    a:nth-child(4) { background :#4E4D4D url("../images/sns_white_04.svg")  no-repeat 50%; margin-right: 0; }
  }
}

/* Tablet */
@media all and (max-width:750px) {
  /* header */
  header { padding: 2.0rem 3.0rem;
    .text_btn {
      li:nth-child(1), li:nth-child(2) { display: none; }
    }
  }
  /* section */
  section { padding: 0 3.0rem;
    .hero_wrap { margin: 10.0rem 0; flex-flow: column;
      .hero_info { text-align: center;
        .hero_title { font-size: 6.7rem; line-height: 8.75rem; margin-bottom: 2.0rem;}
        .hero_sub_txt { font-size: 2.1rem; margin-bottom: 3.0rem; }
        .text_btn {
          a:last-child { display: none; }
        }
      }
      .hero_img { width: 32rem; margin: 0 auto; }
    }
    .logo_bar{ padding: 2.0rem 0;
      article { display: inline-block; width: 7rem; height: 2.1rem;
        background-repeat: no-repeat; background-size: contain; }
    }
  }
}

/* Mobile */
@media all and (max-width:375px) {}